@font-face {
   font-family: 'kingslayImport';
   src: url(../fonts/kingslay.ttf);
}

@font-face {
   font-family: 'jiroImport';
   src: url(../fonts/jiro.ttf);
}
.w{
  text-align: center;
  align-items:center;
  width:100%;
    height: 200px;
    box-shadow:2px 5px 10px;
  background: #4a4a4a;
  color:#8a05f7;
}
h1 {
    font-family: 'kingslayImport';
}
